.App {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.App-header h1{
  margin:10px;
  color: #002366;
  text-shadow: 1px 0px 5px grey;
  font-weight: bold;
}