.App {
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 960px;
  margin:0 auto;
  margin-bottom: 30px;
}

.App-header h1{
  margin:10px;
  color: #002366;
  text-shadow: 1px 0px 5px grey;
  font-weight: bold;
}