.photo{
    border-radius: 5px;
    
}

section{
    background-color: rgb(135, 206, 235, 0.1);
    margin-left: 100px;
    margin-right:100px;
    margin-top: 10px;
    margin-bottom: 30spx;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(2, 51, 99, 0.5);
    padding:15px;
}

h4{
    text-shadow: 1px 1px 1px rgb(135, 206, 235);
    color:#023363;
}